.App {
	color: white;
	font-family: sans-serif;
	height: 100%;
}

.container_img {
	position: relative;
	width: 100%;
  }
  
  .image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }
  
  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
  }
  
  .container_img:hover .image {
	transform: scale(1.1);
	cursor: pointer;
	opacity: 0.4;
  }
  
  .container_img:hover .middle {
	cursor: pointer;
	opacity: 1;
  }
  
  .text {
	color: rgb(5, 2, 2);
	padding-top: 240px;
	padding-left: 10px;
  }

li {
	list-style-type: none;	
}
